fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
email-validator

pandas
numpy
scikit-learn
joblib

streamlit
requests

Pillow

plotly

alembic